<p>Dear {{name}},</p>
<p>You successfully created a new password on {{date}}.</p>
<p>Sign in with your new password.</p>

<p>Thank you.</p>
<p>Regards</p>
<p>Procurement System</p>

<p>(This email is generated automatically by system, please do not reply)</p>