<p>Dear {{name}}</p>
<p>You have requested a password reset.</p>
<p>Reset your password using the link below.</p>

<p>Click here:</p>
{{resetPasswordLink}}</p>

<p>Thank you.</p>
<p>Regards,</p>
<p>Avancevl System</p>

<p>(This email is generated automatically by system, please do not reply)</p>