<p>Dear {{params.firstName}} {{params.lastName}},</p>

<p>Welcome to Avancevl! You have been successfully registered.</p>
<p>Before continuing the next experience, Let's verify your Avancevl account email first.</p>

<p>Click here :</p>
<p>{{verifyLink}}</p>

<p>Thank you for choosing Avancevl enjoy.</p>

<p>Regards,</p>

<p>Avancevl System</p>

<p>(This email is generated automatically by system, please do not reply)</p>